<div class="panel stacked not-stacked" id="panel-carrier-order-history">
    <div class="panel-content">
        <div class="panel-close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="mochi-header">
            <div class="mochi-header-content">
                Order History
            </div>
        </div>
        <div class="header">
            <div class="input-fields-section">
                <div class="row-fields fixed">
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-order-history-date-start"
                            name="txt-slide-carrier-order-history-date-start" title="Date Start">
                        <label for="txt-slide-carrier-order-history-date-start">Date Start</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-slide-carrier-order-history-city-origin"
                            name="txt-slide-carrier-order-history-city-origin" title="City Origin">
                        <label for="txt-slide-carrier-order-history-city-origin">City Origin</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-order-history-state-origin"
                            name="txt-slide-carrier-order-history-state-origin" title="State Origin">
                        <label for="txt-slide-carrier-order-history-state-origin">State Origin</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-order-history-zip-origin"
                            name="txt-slide-carrier-order-history-zip-origin" title="Zip Origin">
                        <label for="txt-slide-carrier-order-history-zip-origin">Zip Origin</label>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row-fields">
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-order-history-date-end"
                            name="txt-slide-carrier-order-history-date-end" title="Date End">
                        <label for="txt-slide-carrier-order-history-date-end">Date End</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-slide-carrier-order-history-city-destination"
                            name="txt-slide-carrier-order-history-city-destination" title="City Destination">
                        <label for="txt-slide-carrier-order-history-city-destination">City Destination</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-order-history-state-destination"
                            name="txt-slide-carrier-order-history-state-destination" title="State Destination">
                        <label for="txt-slide-carrier-order-history-state-destination">State Destination</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-order-history-zip-destination"
                            name="txt-slide-carrier-order-history-zip-destination" title="Zip Destination">
                        <label for="txt-slide-carrier-order-history-zip-destination">Zip Destination</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-content growed">
            <div class="form-section" id="frm-carrier-docs-icons">
                <div class="top-border-section no-title">
                    <div class="left-border"></div>
                    <div class="middle-border"></div>
                    <div class="section-btn">
                        <div class="mochi-button text-center" id="slide-carrier-order-history-print-btn">
                            <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                            <div class="mochi-button-base">
                                Print
                            </div>
                            <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                        </div>
                    </div>
                    <div class="right-border"></div>
                </div>
                <div class="portal-container">
                    <div class="portal-content">
                    </div>
                </div>
            </div>
        </div>
        <div class="drag-handler"> </div>
        <div class="panel-not-focused"> </div>
        <div class="panel-selection-handler"> </div>
    </div>
</div>