<div class="panel stacked not-stacked" id="panel-company-info-shipper">
    <div class="panel-content">
        <div class="panel-close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="mochi-header">
            <div class="mochi-header-content">
                Shipper - Company Info
            </div>
        </div>

        <div class="drag-handler"> </div>
        <div class="panel-not-focused"> </div>
        <div class="panel-selection-handler"> </div>
    </div>
</div>