<div class="swiper-slide" id="swiper-slide-email">
    <div class="email-main-container pos-a" id="email-main-container">
        <div class="email-left-container pos-r">
            <div class="mochi-header">
                <div class="mochi-header-content">
                    Header
                    <div class="mochi-subheader">
                        <div class="mochi-subheader-content">
                            <div class="mochi-button text-center">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base" data-key="btn-item-1" data-pos="1">
                                    Item I
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                        </div>
                    </div>

                    <div class="mochi-subheader">
                        <div class="mochi-subheader-content">
                            <div class="mochi-button text-center">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base" data-key="btn-item-2" data-pos="2">
                                    Item II
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                        </div>
                    </div>

                    <div class="mochi-subheader">
                        <div class="mochi-subheader-content">
                            <div class="mochi-button text-center">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base" data-key="btn-item-3" data-pos="3">
                                    Item III
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                        </div>
                    </div>

                    <div class="mochi-subheader">
                        <div class="mochi-subheader-content">
                            <div class="mochi-button text-center">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base" data-key="btn-item-4" data-pos="4">Item IV</div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="email-right-container pos-r" id="email-right-container">
            <div class="gutter"></div>

            <div class="panel-container fixed active pos-a" data-key="btn-item-0" data-pos="0">
                <div class="mochi-header">
                    <div class="mochi-header-content">
                        Header
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-slide-selectable">
        <div class="swiper-slide-close-btn">Close</div>
    </div>
</div>