<div class="panel-container active pos-a" id="panel-[data-key]" data-key="[data-key]" data-pos="[data-pos]">
    <div class="panel-sub-container pos-r">
        <div class="modal-shown pos-a"></div>
        <div class="mochi-header">
            <div class="mochi-header-content">
                [title]
            </div>
        </div>

        <div class="mochi-subheader">
            <div class="mochi-subheader-content">
                [subtitle]
            </div>
        </div>

        <div class="panel-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ipsum itaque cupiditate
                reprehenderit atque ex, sapiente reiciendis voluptatem amet vitae quibusdam ipsam odit
                corporis numquam. Corporis vero mollitia optio eum!</p>
        </div>

        <div class="mochi-button text-center btn-edit" >
            <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
            <div class="mochi-button-base">
                <i class="fas fa-pencil-alt"></i>
            </div>
            <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
        </div>

    </div>
</div>