<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BOL</title>
        <link rel="stylesheet" href="bol.css">
    </head>
    <body>
        <div class="bol-main-container">
            <div class="main-row header">
                <div class="section simple-title">
                    <div class="section-title">
                        PICK-UP DATE
                    </div>
                    <div class="section-content">
                        April 4, 2019
                    </div>
                </div>
                <div class="section">
                    <div class="section-content">
                        BILL OF LADING – SHORT FORM – NOT NEGOTIABLE
                    </div>
                </div>
                <div class="section simple-title">
                    <div class="section-title">
                        DELIVERY DATE
                    </div>
                    <div class="section-content">
                        April 5, 2019
                    </div>
                </div>
            </div>

            <div class="main-row ship-from">
                <div class="section styled-title b-right">
                    <div class="section-title b-bottom b-bold">
                        SHIP FROM
                    </div>
                    <div class="section-content t-left">
                        ALLEN HOLDINGS INC <br>
                        16397 FILBER ST LOT 12 <br>
                        SYLMAR, CA 91342
                    </div>
                </div>
                <div class="section">

                </div>
            </div>

            <div class="main-row ship-to">
                <div class="section styled-title b-right">
                    <div class="section-title b-bottom b-bold">
                        SHIP TO
                    </div>
                    <div class="section-content t-left">
                        INTELSAT GLOBAL SERVICE CORP <br>
                        C/O ALLEN HOLDINGS INC <br>
                        17625 TECHNOLOGY BLVD <br>
                        HAGERSTOWN, MD 21740

                    </div>
                </div>
                <div class="section simple-title">
                    <div class="section-title t-left b-bottom">
                        Shipping Order Number:
                    </div>
                    <div class="section-content t-left">                    

                    </div>
                </div>
            </div>

            <div class="main-row freight-charges-bill-to">
                <div class="section styled-title b-right">
                    <div class="section-title b-bottom b-bold">
                        THIRD PARTY FREIGHT CHARGES BILL TO
                    </div>
                    <div class="section-content t-left">                    

                    </div>
                </div>
                <div class="section simple-title">
                    <div class="section-title t-left b-bottom">
                        Carrier Name: 
                    </div>
                    <div class="section-content t-left">                    
                        Trailer Number: <br>
                        <b>Serial Number(s):</b>
                    </div>
                </div>
            </div>

            <div class="main-row special-instructions">
                <div class="section simple-title b-right">
                    <div class="section-title t-left ">
                        Special Instructions:
                    </div>
                    <div class="section-content t-left">                    

                    </div>
                </div>
                <div class="section simple-title">                
                    <div class="section-content t-left b-bottom">                    
                        <b>Freight Charge Terms <span class="small-text">(Freight charges are prepaid unless marked otherwise)</span>:</b> <br>
                        <div class="cbox-group">                    
                            <div class="cbox-container">
                                <label for="">Prepaid</label>
                                <input type="checkbox">
                            </div> 
                            <div class="cbox-container">
                                <label for="">Collect</label>
                                <input type="checkbox">
                            </div>   
                            <div class="cbox-container">
                                <label for="">3rd Party</label>
                                <input type="checkbox">
                            </div>  
                        </div>    
                    </div>
                    <div class="section-content">
                        <div class="cbox-group">                    
                            <div class="cbox-container">
                                <input type="checkbox">
                                <label for="">Master bill of lading with attached underlying bills of lading.</label>
                            </div> 
                        </div>    
                    </div>
                </div>
            </div>

            <div class="main-row customer-order-information">
                <div class="section styled-title b-right">
                    <div class="section-title t-center b-bottom">
                        CUSTOMER ORDER INFORMATION
                    </div>
                </div>            
            </div>

            <div class="main-row table">
                <div class="thead">
                    <div class="trow b-all">
                        <div class="tcol qty b-right">
                            Quantity or Piece Count
                        </div>
                        <div class="tcol type b-right">
                            Type (Skids, Bundles)
                        </div>
                        <div class="tcol weight b-right">
                            Weight
                        </div>
                        <div class="tcol hazmat b-right">
                            HazMat (X)
                        </div>
                        <div class="tcol desc">
                            Commodity Description <br>
                            <span>
                                Commodities requiring special or additional care or attention in handling or stowing must be so marked and packaged as to ensure safe transportation with ordinary care. See Section 2(e) of NMFC item 360
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tbody">
                    <div class="trow b-all">
                        <div class="tcol qty b-right">
                            1
                        </div>
                        <div class="tcol type b-right">

                        </div>
                        <div class="tcol weight b-right">
                            20000
                        </div>
                        <div class="tcol hazmat b-right">

                        </div>
                        <div class="tcol desc">
                            CONTAINER SATELITE EQUIPMENT
                        </div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                    <div class="trow b-all">
                        <div class="tcol qty b-right"></div>
                        <div class="tcol type b-right"></div>
                        <div class="tcol weight b-right"></div>
                        <div class="tcol hazmat b-right"></div>
                        <div class="tcol desc"></div>
                        <div class="tcol extra-1 b-left"></div>
                        <div class="tcol extra-2 b-left"></div>
                    </div>
                </div>
            </div>


            <div class="main-row cod-amount">
                <div class="section b-right">
                    <div class="section-content">
                        <p>
                            Where the rate is dependent on value, shippers are required to state specifically in writing the agreed or declared value of the property as follows: “The agreed or declared value of the property is specifically stated by the shipper to be not exceeding _______________ per _______________.
                        </p>
                    </div>
                </div> 
                <div class="section">
                    <div class="section-content">
                        <div class="total-amount">
                            COD Amount: $ 
                            <span></span>
                        </div>

                        <div class="cbox-group">        
                            <i>Fee Terms: </i>            
                            <div class="cbox-container">
                                <label for="">Collect</label>
                                <input type="checkbox">
                            </div>   
                            <div class="cbox-container">
                                <label for="">Prepaid</label>
                                <input type="checkbox">
                            </div> 
                            <div class="cbox-container">
                                <label for="">Customer check acceptable</label>
                                <input type="checkbox">
                            </div>  
                        </div>  
                    </div>
                </div> 
            </div>

            <div class="main-row note">
                <div class="section">
                    <div class="section-content">
                        Note: Liability limitation for loss or damage in this shipment may be applicable. See 49 USC § 14706(c)(1)(A) and (B).
                    </div>
                </div>
            </div>

            <div class="main-row signature">
                <div class="section b-right">
                    <div class="section-content">
                        <p>
                            Received, subject to individually determined rates or contracts that have been agreed upon in writing between the carrier and shipper, if applicable, otherwise to the rates, classifications, and rules that have been established by the carrier and are available to the shipper, on request, and to all applicable state and federal regulations.
                        </p>
                    </div>
                </div> 
                <div class="section">
                    <div class="section-content">
                        <p>
                            The carrier shall not make delivery of this shipment without payment of charges and all other lawful fees.
                        </p>
                        <div class="shipper-signature">
                            Shipper Signature 
                            <span></span>
                        </div>                          
                    </div>
                </div> 
            </div>

            <div class="main-row footer">
                <div class="section b-right">                   
                    <div class="section-content">
                        <div class="shipper b-right">
                            <div class="signature-box">
                                <i>Shipper Signature/Date</i>
                                <span></span>
                            </div>
                            <p>
                                This is to certify that the above named materials are properly classified, packaged, marked, and labeled, and are in proper condition for transportation according to the applicable regulations of the DOT.
                            </p>
                        </div>
                        <div class="trailer">
                            <div class="cbox-group">        
                                <i>Trailer Loaded: </i>            
                                <div class="cbox-container">
                                    <input type="checkbox">
                                    <label for="">By shipper</label>
                                </div>   
                                <div class="cbox-container">
                                    <input type="checkbox">
                                    <label for="">By driver</label>
                                </div>                                   
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="section">
                    <div class="section-content">
                        <div class="freight b-right">
                            <div class="cbox-group">        
                                <i>Freight Counted: </i>            
                                <div class="cbox-container">
                                    <input type="checkbox">
                                    <label for="">By shipper</label>
                                </div>   
                                <div class="cbox-container">
                                    <input type="checkbox">
                                    <label for="">By driver/pallets said to contain</label>
                                </div>
                                <div class="cbox-container">
                                    <input type="checkbox">
                                    <label for="">By driver/pieces</label>
                                </div>                                   
                            </div>
                        </div>                          
                        <div class="carrier">
                            <div class="signature-box">
                                <i>Carrier Signature/PickupDate</i>
                                <span></span>
                            </div>
                            <p>
                                Carrier acknowledges receipt of packages and required placards. Carrier certifies emergency response information was made available and/or carrier has the DOT emergency response guidebook or equivalent documentation in the vehicle. Property described above is received in good order, except as noted.
                            </p>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </body>
</html>