<div class="swiper-slide" id="swiper-slide-carrier">
    <div class="slide-title">Carriers</div>
    <div class="carrier-container main-slide-container" id="carrier-container">
        <div class="carrier-content">
            <div class="carrier-wrapper">
                <div class="main-row-section growed">
                    <div class="main-cell cell-1">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Carrier</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carriers-carrier-search-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Search
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                    <div class="mochi-button text-center" id="carriers-carrier-print-info-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Print Carrier Information
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container code">
                                    <input required type="text" id="txt-carriers-carrier-code"
                                        name="txt-carriers-carrier-code" title="Carrier Code">
                                    <label for="txt-carriers-carrier-code">Code</label>
                                </div>

                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-carrier-name"
                                        name="txt-carriers-carrier-name" title="Carrier Name">
                                    <label for="txt-carriers-carrier-name">Name</label>
                                </div>
                            </div>

                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-carrier-address-1"
                                        name="txt-carriers-carrier-address-1" title="Carrier Address 1">
                                    <label for="txt-carriers-carrier-address-1">Address 1</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-carrier-address-2"
                                        name="txt-carriers-carrier-address-2" title="Carrier Address 2">
                                    <label for="txt-carriers-carrier-address-2">Address 2</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-carrier-city"
                                        name="txt-carriers-carrier-city" title="Carrier City">
                                    <label for="txt-carriers-carrier-city">City</label>
                                </div>
                                <div class="input-box-container phone-number">
                                    <input required type="text" id="txt-carriers-carrier-state"
                                        name="txt-carriers-carrier-state" title="Carrier State">
                                    <label for="txt-carriers-carrier-state">State</label>
                                </div>
                                <div class="input-box-container phone-ext">
                                    <input required type="text" id="txt-carriers-carrier-zip-code"
                                        name="txt-carriers-carrier-zip-code" title="Carrier Postal Code">
                                    <label for="txt-carriers-carrier-zip-code">Postal Code</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-carrier-email"
                                        name="txt-carriers-carrier-email" title="Carrier E-Mail">
                                    <label for="txt-carriers-carrier-email">E-Mail</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-section-extra">
                            <div class="input-toggle-container box-danger">
                                <input required type="checkbox" id="toggle-carrier-carrier-do-not-use"
                                    name="toggle-carrier-carrier-do-not-use">
                                <label for="toggle-carrier-carrier-do-not-use" title="DO NOT USE">
                                    <div class="lbl-toggle-button">DO NOT USE</div>
                                    <div class="input-toggle-button danger"></div>
                                </label>
                            </div>

                            <div class="rating-box-container">
                                <a href="#">&#9733;</a>
                                <a href="#">&#9733;</a>
                                <a href="#">&#9733;</a>
                                <a href="#">&#9733;</a>
                                <a href="#">&#9733;</a>
                            </div>

                            <div class="input-box-container phone-ext">
                                <input required type="text" id="txt-carrier-carrier-mc-number"
                                    name="txt-carrier-carrier-mc-number" title="Carrier MC Number">
                                <label for="txt-carrier-carrier-mc-number">MC Number</label>
                            </div>
                            <div class="input-box-container phone-ext">
                                <input required type="text" id="txt-carrier-carrier-dot-number"
                                    name="txt-carrier-carrier-dot-number" title="Carrier DOT Number">
                                <label for="txt-carrier-carrier-dot-number">DOT Number</label>
                            </div>
                            <div class="input-box-container phone-ext">
                                <input required type="text" id="txt-carrier-carrier-scac"
                                    name="txt-carrier-carrier-scac" title="Carrier SCAC">
                                <label for="txt-carrier-carrier-scac">SCAC</label>
                            </div>
                            <div class="input-box-container phone-ext">
                                <input required type="text" id="txt-carrier-carrier-fid" name="txt-carrier-carrier-fid"
                                    title="Carrier FID">
                                <label for="txt-carrier-carrier-fid">FID</label>
                            </div>
                            <div class="input-box-container insurance">
                                <input required type="text" id="txt-carriers-carrier-insurance" name="txt-carriers-carrier-insurance"
                                    title="Carrier Insurance">
                                <label for="txt-carriers-carrier-insurance">Insurance</label>
                            </div>
                        </div>
                    </div>
                    <div class="main-cell cell-2">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Contacts</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carriers-contacts-add-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Add
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container name-box">
                                    <input required type="text" id="txt-carrier-contacts-first-name"
                                        name="txt-carrier-contacts-first-name" title="Contact First Name">
                                    <label for="txt-carrier-contacts-first-name">First Name</label>
                                </div>

                                <div class="input-box-container name-box">
                                    <input required type="text" id="txt-carrier-contacts-last-name"
                                        name="txt-carrier-contacts-last-name" title="Contact Last Name">
                                    <label for="txt-carrier-contacts-last-name">Last Name</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-contacts-phone-number"
                                        name="txt-carrier-contacts-phone-number" title="Contact Phone">
                                    <label for="txt-carrier-contacts-phone-number">Phone</label>
                                </div>
                                <div class="input-box-container phone-ext">
                                    <input required type="text" id="txt-carrier-contacts-phone-ext"
                                        name="txt-carrier-contacts-phone-ext" title="Contact Phone Ext">
                                    <label for="txt-carrier-contacts-phone-ext">Ext</label>
                                </div>
                                <div class="input-toggle-container">
                                    <input required type="checkbox" id="toggle-carrier-contacts-phone-primary"
                                        name="toggle-carrier-contacts-phone-primary">
                                    <label for="toggle-carrier-contacts-phone-primary" title="Primary">
                                        <div class="lbl-toggle-button">Primary</div>
                                        <div class="input-toggle-button"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-contacts-email"
                                        name="txt-carrier-contacts-email" title="Contact E-Mail">
                                    <label for="txt-carrier-contacts-email">E-Mail</label>
                                </div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-contacts-notes"
                                        name="txt-carrier-contacts-notes" title="Contact Notes">
                                    <label for="txt-carrier-contacts-notes">Notes</label>
                                </div>
                            </div>
                        </div>
                        <div class="portal-section">
                            <div class="contacts-portal-content">

                            </div>
                        </div>
                    </div>
                    <div class="main-cell cell-3">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Driver Information</div>
                                <div class="middle-border"></div>
                                <div class="right-border"></div>
                            </div>
                            <div class="row-section no-wraping">
                                <div class="input-box-container name-box">
                                    <input required type="text" id="txt-carrier-driver-info-first-name"
                                        name="txt-carrier-driver-info-first-name" title="Driver First Name">
                                    <label for="txt-carrier-driver-info-first-name">First Name</label>
                                </div>
                                <div class="separator"></div>
                                <div class="input-box-container name-box">
                                    <input required type="text" id="txt-carrier-driver-info-last-name"
                                        name="txt-carrier-driver-info-last-name" title="Driver Last Name">
                                    <label for="txt-carrier-driver-info-last-name">Last Name</label>
                                </div>
                            </div>

                            <div class="row-section">
                                <div class="input-box-container phone-number">
                                    <input required type="text" id="txt-carrier-driver-info-phone-number"
                                        name="txt-carrier-driver-info-phone-number" title="Driver Phone">
                                    <label for="txt-carrier-driver-info-phone-number">Phone</label>
                                </div>
                                <div class="separator"></div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-driver-info-email"
                                        name="txt-carrier-driver-info-email" title="Driver E-Mail">
                                    <label for="txt-carrier-driver-info-email">E-Mail</label>
                                </div>
                            </div>

                            <div class="row-section no-wraping">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-driver-info-equipment"
                                        name="txt-carrier-driver-info-equipment" title="Driver Equipment">
                                    <label for="txt-carrier-driver-info-equipment">Equipment</label>
                                </div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-driver-info-phone-truck"
                                        name="txt-carrier-contacts-phone-truck" title="Driver Truck">
                                    <label for="txt-carrier-driver-info-phone-truck">Truck</label>
                                </div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-driver-info-phone-trailer"
                                        name="txt-carrier-driver-info-phone-trailer" title="Driver Trailer">
                                    <label for="txt-carrier-driver-info-phone-trailer">Trailer</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-driver-info-notes"
                                        name="txt-carrier-driver-info-notes" title="Driver Notes">
                                    <label for="txt-carrier-driver-info-notes">Notes</label>
                                </div>
                            </div>
                            <div class="row-section buttons">
                                <div class="mochi-button text-center" id="carrier-mailing-address-remit-btn">
                                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                    <div class="mochi-button-base">
                                        E-Mail Driver
                                    </div>
                                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-row-section growed">
                    <div class="main-cell cell-1">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Mailing Address</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carrier-mailing-address-remit-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Remit to address is the same
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>

                            <div class="row-section">
                                <div class="input-box-container code">
                                    <input required type="text" id="txt-carriers-mailing-address-code"
                                        name="txt-carriers-mailing-address-code" title="Carrier Code">
                                    <label for="txt-carriers-mailing-address-code">Code</label>
                                </div>

                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-mailing-address-name"
                                        name="txt-carriers-mailing-address-name" title="Carrier Name">
                                    <label for="txt-carriers-mailing-address-name">Name</label>
                                </div>
                            </div>

                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-mailing-address-address-1"
                                        name="txt-carriers-mailing-address-address-1" title="Carrier Address 1">
                                    <label for="txt-carriers-mailing-address-address-1">Address 1</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-mailing-address-address-2"
                                        name="txt-carriers-mailing-address-address-2" title="Carrier Address 2">
                                    <label for="txt-carriers-mailing-address-address-2">Address 2</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-mailing-address-city"
                                        name="txt-carriers-mailing-address-city" title="Carrier City">
                                    <label for="txt-carriers-mailing-address-city">City</label>
                                </div>
                                <div class="input-box-container phone-number">
                                    <input required type="text" id="txt-carriers-mailing-address-state"
                                        name="txt-carriers-mailing-address-state" title="Carrier State">
                                    <label for="txt-carriers-mailing-address-state">State</label>
                                </div>
                                <div class="input-box-container phone-ext">
                                    <input required type="text" id="txt-carriers-mailing-address-zip-code"
                                        name="txt-carriers-mailing-address-zip-code" title="Carrier Postal Code">
                                    <label for="txt-carriers-mailing-address-zip-code">Postal Code</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-mailing-address-email"
                                        name="txt-carriers-mailing-address-email" title="Carrier E-Mail">
                                    <label for="txt-carriers-mailing-address-email">E-Mail</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-section-extra">
                            <div class="mochi-button text-center" id="carrier-mailing-address-equipment-info-btn">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base">
                                    Equipment Information
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                            <div class="mochi-button text-center" id="carrier-mailing-address-revenue-info-btn">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base">
                                    Revenue Information
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                            <div class="mochi-button text-center" id="carrier-mailing-address-order-history-btn">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base">
                                    Order History
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                            <div class="mochi-button text-center" id="carrier-mailing-address-documents-btn">
                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                <div class="mochi-button-base">
                                    Documents
                                </div>
                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                            </div>
                        </div>
                    </div>
                    <div class="main-cell cell-2">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Insurance</div>
                                <div class="middle-border"></div>
                                <div class="right-border"></div>
                            </div>
                            <div class="row-section">
                                <div class="select-box-container">
                                    <select required id="cbo-carrier-insurance-type" name="cbo-carrier-insurance-type"
                                        title="Insurance Type">
                                        <option value="1">Type 1</option>
                                        <option value="2">Type 2</option>
                                        <option value="3">Type 3</option>
                                    </select>
                                    <label for="cbo-carrier-insurance-type">Type</label>
                                </div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-insurance-company"
                                        name="txt-carrier-insurance-company" title="Insurance Company">
                                    <label for="txt-carrier-insurance-company">Company</label>
                                </div>

                            </div>

                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-insurance-expiration-date"
                                        name="txt-carrier-insurance-expiration-date" title="Insurance Expiration Date">
                                    <label for="txt-carrier-insurance-expiration-date">Expiration Date</label>
                                </div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-insurance-amount"
                                        name="txt-carrier-insurance-amount" title="Insurance Amount">
                                    <label for="txt-carrier-insurance-amount">Amount</label>
                                </div>
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carrier-insurance-deductible"
                                        name="txt-carrier-insurance-deductible" title="Insurance Deductible">
                                    <label for="txt-carrier-insurance-deductible">Deductible</label>
                                </div>

                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-insurance-notes" name="txt-carriers-insurance-notes"
                                        title="Insurance Notes">
                                    <label for="txt-carriers-insurance-notes">Notes</label>
                                </div>
                            </div>

                        </div>
                        <div class="portal-section">
                            <div class="contacts-portal-content">

                            </div>
                        </div>
                    </div>
                    <div class="main-cell cell-3">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Drivers</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carrier-drivers-print-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Print
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-row-section growed">
                    <div class="main-cell cell-1">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Factoring Company</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carrier-factoring-company-search-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Search
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container code">
                                    <input required type="text" id="txt-carriers-factoring-company-code"
                                        name="txt-carriers-factoring-company-code" title="Carrier Code">
                                    <label for="txt-carriers-factoring-company-code">Code</label>
                                </div>

                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-factoring-company-name"
                                        name="txt-carriers-factoring-company-name" title="Carrier Name">
                                    <label for="txt-carriers-factoring-company-name">Name</label>
                                </div>
                            </div>

                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-factoring-company-address-1"
                                        name="txt-carriers-factoring-company-address-1" title="Carrier Address 1">
                                    <label for="txt-carriers-factoring-company-address-1">Address 1</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-factoring-company-address-2"
                                        name="txt-carriers-factoring-company-address-2" title="Carrier Address 2">
                                    <label for="txt-carriers-factoring-company-address-2">Address 2</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-factoring-company-city"
                                        name="txt-carriers-factoring-company-city" title="Carrier City">
                                    <label for="txt-carriers-factoring-company-city">City</label>
                                </div>
                                <div class="input-box-container phone-number">
                                    <input required type="text" id="txt-carriers-factoring-company-state"
                                        name="txt-carriers-factoring-company-state" title="Carrier State">
                                    <label for="txt-carriers-factoring-company-state">State</label>
                                </div>
                                <div class="input-box-container phone-ext">
                                    <input required type="text" id="txt-carriers-factoring-company-zip-code"
                                        name="txt-carriers-factoring-company-zip-code" title="Carrier Postal Code">
                                    <label for="txt-carriers-factoring-company-zip-code">Postal Code</label>
                                </div>
                            </div>
                            <div class="row-section">
                                <div class="input-box-container">
                                    <input required type="text" id="txt-carriers-factoring-company-email"
                                        name="txt-carriers-factoring-company-email" title="Carrier E-Mail">
                                    <label for="txt-carriers-factoring-company-email">E-Mail</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-cell cell-2">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Notes</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carrier-notes-print-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Print
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>
                            <div class="section-btn">

                            </div>
                        </div>
                    </div>
                    <div class="main-cell cell-3">
                        <div class="form-section">
                            <div class="top-border-section">
                                <div class="left-border"></div>
                                <div class="section-title">Past Orders</div>
                                <div class="middle-border"></div>
                                <div class="section-btn">
                                    <div class="mochi-button text-center" id="carrier-past-orders-print-btn">
                                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                        <div class="mochi-button-base">
                                            Print
                                        </div>
                                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                    </div>
                                </div>
                                <div class="right-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-slide-selectable">
        <div class="swiper-slide-close-btn">Close</div>
    </div>
    <div id="carrier-main-panel-container" class="main-panel-container">
        <div class="panel-container">
            <div class="gutter"></div>

        </div>
    </div>
</div>