<div class="panel stacked not-stacked" id="panel-carrier-docs">
    <div class="panel-content">
        <div class="panel-close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="mochi-header">
            <div class="mochi-header-content">
                Documents
            </div>
        </div>
        <div class="header">
            <div class="input-fields-section">
                <div class="row-fields">
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-docs-user-id"
                        name="txt-slide-carrier-docs-user-id" title="User ID">
                        <label for="txt-slide-carrier-docs-user-id">User ID</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container medium-size">
                        <input required type="text" id="txt-slide-carrier-docs-date-entered"
                        name="txt-slide-carrier-docs-date-entered" title="Date Entered">
                        <label for="txt-slide-carrier-docs-date-entered">Date Entered</label>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row-fields">
                    <div class="input-box-container fixed-size">
                        <input required type="text" id="txt-slide-carrier-docs-title"
                        name="txt-slide-carrier-docs-title" title="Title">
                        <label for="txt-slide-carrier-docs-title">Title</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container fixed-size">
                        <input required type="text" id="txt-slide-carrier-docs-subject"
                        name="txt-slide-carrier-docs-subject" title="Subject">
                        <label for="txt-slide-carrier-docs-subject">Subject</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-slide-carrier-docs-tags"
                        name="txt-slide-carrier-docs-tags" title="Tags">
                        <label for="txt-slide-carrier-docs-tags">Tags</label>
                    </div>
                </div>
            </div>
            <div class="buttons-section">
                <div class="mochi-button text-center" id="slide-carrier-docs-search-documents-btn">
                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                    <div class="mochi-button-base">
                        Search Documents
                    </div>
                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                </div>
                <div class="mochi-button text-center" id="slide-carrier-docs-email-documents-btn">
                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                    <div class="mochi-button-base">
                        E-Mail Documents
                    </div>
                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                </div>
                <div class="mochi-button text-center" id="slide-carrier-docs-upload-documents-btn">
                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                    <div class="mochi-button-base">
                        Upload Documents
                    </div>
                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                </div>
            </div>
        </div>

        <div class="row-content">
            <div class="form-section" id="frm-carrier-docs-documents">
                <div class="top-border-section">
                    <div class="left-border"></div>
                    <div class="section-title">Documents</div>
                    <div class="middle-border"></div>
                    <div class="right-border"></div>
                </div>
                <div class="portal-container">
                    <div class="portal-content">
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="form-section" id="frm-carrier-docs-notes">                           
                <div class="top-border-section">
                    <div class="left-border"></div>
                    <div class="section-title">Notes</div>
                    <div class="middle-border"></div>
                    <div class="right-border"></div>
                </div>
                                
                <div class="portal-container">
                    <div class="portal-content">
                    </div>
                </div>
            </div>
        </div>

        <div class="row-content growed">
            <div class="form-section" id="frm-carrier-docs-icons">
                <div class="top-border-section no-title">
                    <div class="left-border"></div>
                    <div class="middle-border"></div>
                    <div class="right-border"></div>
                </div>
                <div class="portal-container">
                    <div class="portal-content">
                    </div>
                </div>
            </div>
        </div>
        <div class="drag-handler"> </div>
        <div class="panel-not-focused"> </div>
        <div class="panel-selection-handler"> </div>
    </div>
</div>