<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Load Confirmation Draft</title>
    <link rel="stylesheet" href="load-confirmation-draft.css">
</head>
<body>
    <div class="lcd-main-container">
        <div class="section-header">
            <div class="row">DATE AND TIME SENT: <span>04/02/2019 @1015</span></div>
            <div class="row">ATTN: <span>DAVID HAWKINS</span></div>
            <div class="row">FAX: <span>901-794-0073</span></div>
        </div>

        <div class="section-title">
            <span>LOAD CONFIRMATION AND RATE AGREEMENT</span>
        </div>

        <div class="section-load-number">
            <div class="row">Load Number: <span>123456</span></div>
            <div class="row">Total Payment to the Carrier – Inclusive of all Accessorial charges: <span>$1200.00</span></div>
        </div>
    </div>
</body>
</html>