<section class="main-container main-slide-container" id="main-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" id="swiper-slide-home">
            <div class="slide-title">
                Home
            </div>

            <div class="apps">
                <div class="app-container">
                    <div class="app-button" id="btn-dispatch">
                        <i class="fas fa-truck-loading"></i>
                        <div class="app-name">Dispatch</div>
                    </div>
                    <div class="app-button" id="btn-customers">
                        <i class="fas fa-users"></i>
                        <div class="app-name">Customers</div>
                    </div>
                    <div class="app-button" id="btn-carriers">
                        <i class="fas fa-people-carry"></i>
                        <div class="app-name">Carriers</div>
                    </div>
                    <div class="app-button" id="btn-load-board">
                        <i class="fas fa-chart-area"></i>
                        <div class="app-name">Load Board</div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide-selectable">

            </div>
        </div>
    </div>
</section>


<div class="main-app-loader">
    <div class="spinner-container">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>