<div class="panel stacked not-stacked" id="panel-load-board">
    <div class="panel-content">
        <div class="panel-close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="mochi-header">
            <div class="mochi-header-content">
                Load Board
            </div>
        </div>

        <div class="panel-live-load-content">
            <div class="live-row-content">
                <div class="live-col-content">
                    <div class="form-section" id="frm-panel-live-load-available">
                        <div class="top-border-section">
                            <div class="left-border"></div>
                            <div class="section-title">Available</div>
                            <div class="middle-border"></div>
                            <div class="right-border"></div>
                        </div>
                    </div>
                    <div class="form-section" id="frm-panel-live-load-booked">
                        <div class="top-border-section">
                            <div class="left-border"></div>
                            <div class="section-title">Booked</div>
                            <div class="middle-border"></div>
                            <div class="right-border"></div>
                        </div>
                    </div>
                    <div class="form-section" id="frm-panel-live-load-in-transit">
                        <div class="top-border-section">
                            <div class="left-border"></div>
                            <div class="section-title">In Transit</div>
                            <div class="middle-border"></div>
                            <div class="right-border"></div>
                        </div>
                    </div>
                </div>

                <div class="live-col-content">
                    <div class="live-row-section">
                        <div class="mochi-button" id="panel-load-board-refresh-btn">
                            <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                            <div class="mochi-button-base">
                                Refresh
                            </div>
                            <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                        </div>

                        <div class="input-toggle-container">
                            <input type="checkbox" id="toggle-panel-load-board-auto-refresh"
                                name="toggle-panel-load-board-auto-refresh">
                            <label for="toggle-panel-load-board-auto-refresh" title="Auto Refresh">
                                <div class="lbl-toggle-button">Auto Refresh</div>
                                <div class="input-toggle-button"></div>
                            </label>
                        </div>
                    </div>
                    <div class="form-section" id="frm-panel-live-load-load-information">
                        <div class="top-border-section">
                            <div class="left-border"></div>
                            <div class="section-title">Load Information</div>
                            <div class="middle-border"></div>
                            <div class="right-border"></div>
                        </div>
                    </div>
                    <div class="form-section" id="frm-panel-live-load-loads-delivered-not-invoiced">
                        <div class="top-border-section">
                            <div class="left-border"></div>
                            <div class="section-title">Loads Delivered but not Invoiced</div>
                            <div class="middle-border"></div>
                            <div class="right-border"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="drag-handler"> </div>
        <div class="panel-not-focused"> </div>
        <div class="panel-selection-handler"> </div>
    </div>
</div>