<div class="swiper-slide" id="swiper-slide-customer">
    <div class="slide-title">Customers</div>
    <div class="customer-container main-slide-container" id="customer-container">
        <div class="customer-content">
            <div class="customer-wrapper">
                <div class="left-column-section">
                    <div class="main-row-section">
                        <div class="forms-section-container">
                            <div class="customer-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Customer</div>
                                        <div class="middle-border"></div>
                                        <div class="section-btn">
                                            <div class="mochi-button text-center" id="customer-search-btn">
                                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                                <div class="mochi-button-base">
                                                    Search
                                                </div>
                                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                            </div>
                                        </div>
                                        <div class="right-border"></div>
                                    </div>

                                    <div class="row-section">
                                        <div class="input-box-container code">
                                            <input required type="text" id="txt-customer-code" name="txt-customer-code"
                                                title="Customer Code">
                                            <label for="txt-customer-code">Code</label>
                                        </div>

                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-name" name="txt-customer-name"
                                                title="Customer Name">
                                            <label for="txt-customer-name">Name</label>
                                        </div>
                                    </div>

                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-address-1"
                                                name="txt-customer-address-1" title="Customer Address 1">
                                            <label for="txt-customer-address-1">Address 1</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-address-2"
                                                name="txt-customer-address-2" title="Customer Address 2">
                                            <label for="txt-customer-address-2">Address 2</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-city" name="txt-customer-city"
                                                title="Customer City">
                                            <label for="txt-customer-city">City</label>
                                        </div>
                                        <div class="input-box-container phone-number">
                                            <input required type="text" id="txt-customer-state"
                                                name="txt-customer-state" title="Customer State">
                                            <label for="txt-customer-state">State</label>
                                        </div>
                                        <div class="input-box-container zip-code">
                                            <input required type="text" id="txt-customer-zip-code"
                                                name="txt-customer-zip-code" title="Customer Postal Code">
                                            <label for="txt-customer-zip-code">Postal Code</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-contact-name"
                                                name="txt-customer-contact-name" title="Customer Contact Name">
                                            <label for="txt-customer-contact-name">Contact Name</label>
                                        </div>
                                        <div class="input-box-container phone-number">
                                            <input required type="text" id="txt-customer-contact-phone"
                                                name="txt-customer-contact-phone" title="Customer Contact Phone">
                                            <label for="txt-customer-contact-phone">Contact Phone</label>
                                        </div>
                                        <div class="input-box-container phone-ext">
                                            <input required type="text" id="txt-customer-contact-phone-ext"
                                                name="txt-customer-contact-phone-ext"
                                                title="Customer Contact Phone Ext">
                                            <label for="txt-customer-contact-phone-ext">Ext</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-email"
                                                name="txt-customer-email" title="Customer E-Mail">
                                            <label for="txt-customer-email">E-Mail</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mailing-address-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Mailing Address</div>
                                        <div class="middle-border"></div>
                                        <div class="section-btn">
                                            <div class="mochi-button text-center"
                                                id="customer-mailing-address-remit-btn">
                                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                                <div class="mochi-button-base">
                                                    Remit to address is the same
                                                </div>
                                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                            </div>
                                        </div>
                                        <div class="right-border"></div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container code">
                                            <input required type="text" id="txt-mailing-address-code"
                                                name="txt-mailing-address-code" title="Mailing Address Code">
                                            <label for="txt-mailing-address-code">Code</label>
                                        </div>

                                        <div class="input-box-container">
                                            <input required type="text" id="txt-mailing-address-name"
                                                name="txt-mailing-address-name" title="Mailing Address Name">
                                            <label for="txt-mailing-address-name">Name</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-mailing-address-address-1"
                                                name="txt-mailing-address-address-1" title="Mailing Address Address 1">
                                            <label for="txt-mailing-address-address-1">Address 1</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-mailing-address-address-2"
                                                name="txt-mailing-address-address-2" title="Mailing Address Address 2">
                                            <label for="txt-mailing-address-address-2">Address 2</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-mailing-address-city"
                                                name="txt-mailing-address-city" title="Mailing Address City">
                                            <label for="txt-mailing-address-city">City</label>
                                        </div>
                                        <div class="input-box-container phone-number">
                                            <input required type="text" id="txt-mailing-address-state"
                                                name="txt-mailing-address-state" title="Mailing Address State">
                                            <label for="txt-mailing-address-state">State</label>
                                        </div>
                                        <div class="input-box-container zip-code">
                                            <input required type="text" id="txt-mailing-address-zip-code"
                                                name="txt-mailing-address-zip-code" title="Mailing Address Postal Code">
                                            <label for="txt-mailing-address-zip-code">Postal Code</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-mailing-address-contact-name"
                                                name="txt-mailing-address-contact-name"
                                                title="Mailing Address Contact Name">
                                            <label for="txt-mailing-address-contact-name">Contact Name</label>
                                        </div>
                                        <div class="input-box-container phone-number">
                                            <input required type="text" id="txt-mailing-address-contact-phone"
                                                name="txt-mailing-address-contact-phone"
                                                title="Mailing Address Contact Phone">
                                            <label for="txt-mailing-address-contact-phone">Contact Phone</label>
                                        </div>
                                        <div class="input-box-container phone-ext">
                                            <input required type="text" id="txt-mailing-address-contact-phone-ext"
                                                name="txt-mailing-address-contact-phone-ext"
                                                title="Mailing Address Contact Phone Ext">
                                            <label for="txt-mailing-address-contact-phone-ext">Ext</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-mailing-address-email"
                                                name="txt-mailing-address-email" title="Mailing Address E-Mail">
                                            <label for="txt-mailing-address-email">E-Mail</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-section-extra">
                                    <div class="input-box-container phone-ext">
                                        <input required type="text" id="txt-mailing-address-bill-to"
                                            name="txt-mailing-address-bill-to" title="Mailing Address Bill To">
                                        <label for="txt-mailing-address-bill-to">Bill To</label>
                                    </div>
                                    <div class="input-box-container phone-ext">
                                        <input required type="text" id="txt-mailing-address-division"
                                            name="txt-mailing-address-division" title="Mailing Address Division">
                                        <label for="txt-mailing-address-division">Division</label>
                                    </div>
                                    <div class="input-box-container phone-ext">
                                        <input required type="text" id="txt-mailing-address-agent-code"
                                            name="txt-mailing-address-agent-code" title="Mailing Address Agent Code">
                                        <label for="txt-mailing-address-agent-code">Agent Code</label>
                                    </div>
                                    <div class="input-box-container phone-ext">
                                        <input required type="text" id="txt-mailing-address-salesman"
                                            name="txt-mailing-address-salesman" title="Mailing Address Salesman">
                                        <label for="txt-mailing-address-salesman">Salesman</label>
                                    </div>
                                    <div class="input-box-container phone-ext">
                                        <input required type="text" id="txt-mailing-address-fid"
                                            name="txt-mailing-address-fid" title="Mailing Address FID">
                                        <label for="txt-mailing-address-fid">FID</label>
                                    </div>
                                </div>
                            </div>

                            <div class="credit-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Credit</div>
                                        <div class="middle-border"></div>
                                        <div class="right-border"></div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-credit-invoicing-terms"
                                                name="txt-credit-invoicing-terms" title="Invoicing Terms">
                                            <label for="txt-credit-invoicing-terms">Invoicing Terms</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-credit-limit-total"
                                                name="txt-credit-limit-total" title="Credit Limit Total">
                                            <label for="txt-credit-limit-total">Credit Limit Total</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-credit-dispatched"
                                                name="txt-credit-dispatched" title="Credit Dispatched">
                                            <label for="txt-credit-dispatched">Credit Dispatched</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-credit-delivered-not-invoiced"
                                                name="txt-credit-delivered-not-invoiced"
                                                title="Credit Delivered Not Invoiced">
                                            <label for="txt-credit-delivered-not-invoiced">Credit Delivered Not
                                                Invoiced</label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-credit-available"
                                                name="txt-credit-available" title="Available Credit">
                                            <label for="txt-credit-available">Available Credit</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-row-section">
                        <div class="forms-section-container">
                            <div class="contacts-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Contacts</div>
                                        <div class="middle-border"></div>
                                        <div class="section-btn">
                                            <div class="mochi-button text-center" id="customers-contacts-add-btn">
                                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                                <div class="mochi-button-base">
                                                    Add
                                                </div>
                                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                            </div>
                                        </div>
                                        <div class="right-border"></div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container name-box">
                                            <input required type="text" id="txt-customer-contacts-first-name"
                                            name="txt-customer-contacts-first-name" title="Contact First Name">
                                            <label for="txt-customer-contacts-first-name">First Name</label>
                                        </div>

                                        <div class="input-box-container name-box">
                                            <input required type="text" id="txt-customer-contacts-last-name"
                                            name="txt-customer-contacts-last-name" title="Contact Last Name">
                                            <label for="txt-customer-contacts-last-name">Last Name</label>
                                        </div>

                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-contacts-phone-number"
                                            name="txt-customer-contacts-phone-number" title="Contact Phone">
                                            <label for="txt-customer-contacts-phone-number">Phone</label>
                                        </div>
                                        <div class="input-box-container phone-ext">
                                            <input required type="text" id="txt-customer-contacts-phone-ext"
                                            name="txt-customer-contacts-phone-ext" title="Contact Phone Ext">
                                            <label for="txt-customer-contacts-phone-ext">Ext</label>
                                        </div>

                                        <div class="input-toggle-container">
                                            <input required type="checkbox" id="cbox-customer-contacts-phone-primary"
                                                name="cbox-customer-contacts-phone-primary">
                                            <label for="cbox-customer-contacts-phone-primary" title="Primary">
                                                <div class="lbl-toggle-button">Primary</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>

                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-contacts-email"
                                            name="txt-customer-contacts-email" title="Contact E-Mail">
                                            <label for="txt-customer-contacts-email">E-Mail</label>
                                        </div>
                                        <div class="input-box-container">
                                            <input required type="text" id="txt-customer-contacts-notes"
                                            name="txt-customer-contacts-notes" title="Contact Notes">
                                            <label for="txt-customer-contacts-notes">Notes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portal-section">
                                    <div class="contacts-portal-content">

                                    </div>
                                </div>
                            </div>

                            <div class="automatic-emails-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Automatic E-Mails</div>
                                        <div class="middle-border"></div>
                                        <div class="right-border"></div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="email" id="txt-automatic-emails-email-to"
                                            name="txt-automatic-emails-email-to" title="E-Mail To">
                                            <label for="txt-automatic-emails-email-to">E-Mail To</label>
                                        </div>

                                        <div class="input-toggle-container">
                                            <input required type="checkbox" id="txt-automatic-emails-booked-load"
                                                name="txt-automatic-emails-booked-load">
                                            <label for="txt-automatic-emails-booked-load" title="Booked Load">
                                                <div class="lbl-toggle-button">Booked Load</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>
                                        <div class="input-toggle-container">
                                            <input required type="checkbox" id="txt-automatic-emails-check-calls"
                                                name="txt-automatic-emails-check-calls">
                                            <label for="txt-automatic-emails-check-calls" title="Check Calls">
                                                <div class="lbl-toggle-button">Check Calls</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="email" id="txt-automatic-emails-email-cc"
                                            name="txt-automatic-emails-email-cc" title="E-Mail CC">
                                            <label for="txt-automatic-emails-email-cc">E-Mail Cc</label>
                                        </div>

                                        <div class="input-toggle-container">
                                            <input required type="checkbox"
                                                id="txt-automatic-emails-carrier-arrival-shipper"
                                                name="txt-automatic-emails-carrier-arrival-shipper">
                                            <label for="txt-automatic-emails-carrier-arrival-shipper"
                                                title="Carrier Arrival Shipper">
                                                <div class="lbl-toggle-button">Carrier Arrival Shipper</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>
                                        <div class="input-toggle-container">
                                            <input required type="checkbox"
                                                id="txt-automatic-emails-carrier-arrival-consignee"
                                                name="txt-automatic-emails-carrier-arrival-consignee">
                                            <label for="txt-automatic-emails-carrier-arrival-consignee"
                                                title="Carrier Arrival Consignee">
                                                <div class="lbl-toggle-button">Carrier Arrival Consignee</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row-section">
                                        <div class="input-box-container">
                                            <input required type="email" id="txt-automatic-emails-email-bbc"
                                            name="txt-automatic-emails-email-bbc" title="E-Mail BBC">
                                            <label for="txt-automatic-emails-email-bbc">E-Mail Bcc</label>
                                        </div>

                                        <div class="input-toggle-container">
                                            <input required type="checkbox" id="txt-automatic-emails-loaded"
                                                name="txt-automatic-emails-loaded">
                                            <label for="txt-automatic-emails-loaded" title="Loaded">
                                                <div class="lbl-toggle-button">Loaded</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>
                                        <div class="input-toggle-container">
                                            <input required type="checkbox" id="txt-automatic-emails-empty"
                                                name="txt-automatic-emails-empty">
                                            <label for="txt-automatic-emails-empty" title="Empty">
                                                <div class="lbl-toggle-button">Empty</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portal-section">
                                    <div class="automatic-emails-portal-content">

                                    </div>
                                </div>
                            </div>

                            <div class="aditional-docs-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Aditional Documents Required</div>
                                        <div class="middle-border"></div>
                                        <div class="right-border"></div>
                                    </div>
                                    <div class="row-section">

                                        <div class="input-toggle-container">
                                            <input required type="checkbox" id="txt-aditional-docs-pod"
                                                name="txt-aditional-docs-pod">
                                            <label for="txt-aditional-docs-pod" title="POD">
                                                <div class="lbl-toggle-button">POD</div>
                                                <div class="input-toggle-button"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-section-hours">
                                    <div class="form-section">
                                        <div class="top-border-section">
                                            <div class="left-border"></div>
                                            <div class="section-title">Hours</div>
                                            <div class="middle-border"></div>
                                            <div class="right-border"></div>
                                        </div>
                                        <div class="row-section">
                                            <div class="input-box-container">
                                                <input required type="text" id="txt-customer-notes-hours-open"
                                                name="txt-customer-notes-hours-open" title="Hours Open">
                                                <label for="txt-customer-notes-hours-open">Open</label>
                                            </div>

                                            <div class="input-box-container">
                                                <input required type="text" id="txt-customer-notes-hours-close"
                                                name="txt-customer-notes-hours-close" title="Hours Close">
                                                <label for="txt-customer-notes-hours-close">Close</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <div class="top-border-section">
                                            <div class="left-border"></div>
                                            <div class="section-title">Delivery Hours</div>
                                            <div class="middle-border"></div>
                                            <div class="right-border"></div>
                                        </div>
                                        <div class="row-section">
                                            <div class="input-box-container">
                                                <input required type="text" id="txt-customer-notes-delivery-hours-open"
                                                name="txt-customer-notes-delivery-hours-open"
                                                title="Delivery Hours Open">
                                                <label for="txt-customer-notes-delivery-hours-open">Open</label>
                                            </div>

                                            <div class="input-box-container">
                                                <input required type="text" id="txt-customer-notes-delivery-hours-close"
                                                name="txt-customer-notes-delivery-hours-close"
                                                title="Delivery Hours Close">
                                                <label for="txt-customer-notes-delivery-hours-close">Close</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-row-section growed">
                        <div class="forms-section-container">
                            <div class="notes-section">
                                <div class="form-section-notes-portal">
                                    <div class="form-section">
                                        <div class="top-border-section">
                                            <div class="left-border"></div>
                                            <div class="section-title">Notes</div>
                                            <div class="middle-border"></div>
                                            <div class="section-btn">
                                                <div class="mochi-button text-center" id="print-notes-btn">
                                                    <div class="mochi-button-decorator mochi-button-decorator-left">(
                                                    </div>
                                                    <div class="mochi-button-base">
                                                        Print
                                                    </div>
                                                    <div class="mochi-button-decorator mochi-button-decorator-right">)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-border"></div>
                                        </div>

                                        <div class="portal-section">
                                            <div class="notes-portal-content">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="directions-section">
                                <div class="form-section">
                                    <div class="top-border-section">
                                        <div class="left-border"></div>
                                        <div class="section-title">Directions</div>
                                        <div class="middle-border"></div>
                                        <div class="section-btn">
                                            <div class="input-checkbox-container">
                                                <label for="cbox-print-directions">Print directions on rate
                                                    confirmation</label>
                                                <input required type="checkbox" id="cbox-print-directions"
                                                    name="cbox-print-directions" title="Expedited">
                                            </div>
                                            <div class="mochi-button text-center" id="print-directions-btn">
                                                <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                                                <div class="mochi-button-base">
                                                    Print
                                                </div>
                                                <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                                            </div>
                                        </div>
                                        <div class="right-border"></div>
                                    </div>

                                    <div class="portal-section">
                                        <div class="notes-portal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-column-section">
                    <div class="mochi-button text-center" id="customer-revenue-information-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            Revenue Information
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                    <div class="mochi-button text-center" id="customer-order-history-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            Order History
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                    <div class="mochi-button text-center" id="customer-lane-history-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            Lane History
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                    <div class="mochi-button text-center" id="customer-documents-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            Documents
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                    <div class="mochi-button text-center" id="customer-print-information-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            Print Customer Information
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                    <div class="mochi-button text-center" id="customer-email-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            E-Mail Customer
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                    <div class="mochi-button text-center" id="customer-sales-assistant-information-btn">
                        <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                        <div class="mochi-button-base">
                            Sales Assistant Information
                        </div>
                        <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-slide-selectable">
        <div class="swiper-slide-close-btn">Close</div>
    </div>
    <div id="customer-main-panel-container" class="main-panel-container">
        <div class="panel-container">
            <div class="gutter"></div>

        </div>
    </div>
</div>