<div class="panel stacked not-stacked" id="panel-rating-screen">
    <div class="panel-content">
        <div class="panel-close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="mochi-header">
            <div class="mochi-header-content">
                Rating Screen
            </div>
        </div>

        <div class="row-container">
            <div class="form-section bottom-controls">
                <div class="top-border-section">
                    <div class="left-border"></div>
                    <div class="section-title">Customer Charges</div>
                    <div class="middle-border"></div>
                    <div class="right-border"></div>
                </div>

                <div class="row-section">
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-rate-type"
                            name="txt-panel-rating-screen-customer-charges-rate-type" title="Rate Type">
                        <label for="txt-panel-rating-screen-customer-charges-rate-type">Rate Type</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-rate-description"
                            name="txt-panel-rating-screen-customer-charges-rate-description" title="Rate Description">
                        <label for="txt-panel-rating-screen-customer-charges-rate-description">Rate
                            Description</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-units"
                            name="txt-panel-rating-screen-customer-charges-units" title="Units">
                        <label for="txt-panel-rating-screen-customer-charges-units">Units</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-weight"
                            name="txt-panel-rating-screen-customer-charges-weight" title="Weight">
                        <label for="txt-panel-rating-screen-customer-charges-weight">Weight</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-miles"
                            name="txt-panel-rating-screen-customer-charges-miles" title="Miles">
                        <label for="txt-panel-rating-screen-customer-charges-miles">Miles</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-rate"
                            name="txt-panel-rating-screen-customer-charges-rate" title="Rate">
                        <label for="txt-panel-rating-screen-customer-charges-rate">Rate</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-customer-charges-total-charges"
                            name="txt-panel-rating-screen-customer-charges-total-charges" title="Total Charges">
                        <label for="txt-panel-rating-screen-customer-charges-total-charges">Total
                            Charges</label>
                    </div>
                </div>

                <div class="portal-container rounded">
                    <div class="portal-content">
                    </div>
                </div>

                <div class="bottom-border-section">
                    <div class="left-border"></div>
                    <div class="middle-border"></div>
                    <div class="section-btn">
                        <div class="mochi-button text-center" id="panel-rating-screen-customer-charges-delete-btn">
                            <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                            <div class="mochi-button-base">
                                Delete
                            </div>
                            <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                        </div>
                        <div class="input-box-container totalize">
                            <input required type="text" id="txt-panel-rating-screen-charges-grand-total"
                                name="txt-panel-rating-screen-charges-grand-total" title="Total Carrier Charges">
                            <label for="txt-panel-rating-screen-charges-grand-total">Total Customer
                                Charges</label>
                        </div>
                    </div>
                    <div class="right-border"></div>
                </div>
            </div>

            <div class="separator"></div>

            <div class="form-section bottom-controls">
                <div class="top-border-section">
                    <div class="left-border"></div>
                    <div class="section-title">Carrier Payments</div>
                    <div class="middle-border"></div>
                    <div class="right-border"></div>
                </div>

                <div class="row-section">
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-rate-type"
                            name="txt-panel-rating-screen-carrier-payments-rate-type" title="Rate Type">
                        <label for="txt-panel-rating-screen-carrier-payments-rate-type">Rate Type</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-rate-description"
                            name="txt-panel-rating-screen-carrier-payments-rate-description" title="Rate Description">
                        <label for="txt-panel-rating-screen-carrier-payments-rate-description">Rate
                            Description</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-units"
                            name="txt-panel-rating-screen-carrier-payments-units" title="Units">
                        <label for="txt-panel-rating-screen-carrier-payments-units">Units</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-weight"
                            name="txt-panel-rating-screen-carrier-payments-weight" title="Weight">
                        <label for="txt-panel-rating-screen-carrier-payments-weight">Weight</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-miles"
                            name="txt-panel-rating-screen-carrier-payments-miles" title="Miles">
                        <label for="txt-panel-rating-screen-carrier-payments-miles">Miles</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-rate"
                            name="txt-panel-rating-screen-carrier-payments-rate" title="Rate">
                        <label for="txt-panel-rating-screen-carrier-payments-rate">Rate</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container">
                        <input required type="text" id="txt-panel-rating-screen-carrier-payments-total-payments"
                            name="txt-panel-rating-screen-carrier-payments-total-payments" title="Total Payments">
                        <label for="txt-panel-rating-screen-carrier-payments-total-payments">Total
                            Payments</label>
                    </div>
                </div>

                <div class="portal-container rounded">
                    <div class="portal-content">
                    </div>
                </div>

                <div class="bottom-border-section">
                    <div class="left-border"></div>
                    <div class="input-box-container profit">
                        <input required type="text" id="txt-panel-rating-screen-payments-gross-profit"
                            name="txt-panel-rating-screen-payments-gross-profit" title="Gross Profit">
                        <label for="txt-panel-rating-screen-payments-gross-profit">Gross Profit</label>
                    </div>
                    <div class="separator"></div>
                    <div class="input-box-container profit">
                        <input required type="text" id="txt-panel-rating-screen-payments-percentage-profit"
                            name="txt-panel-rating-screen-payments-percentage-profit" title="Percentage Profit">
                        <label for="txt-panel-rating-screen-payments-percentage-profit">Percentage
                            Profit</label>
                    </div>
                    <div class="middle-border"></div>
                    <div class="section-btn">
                        <div class="mochi-button text-center" id="panel-rating-screen-carrier-payments-delete-btn">
                            <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                            <div class="mochi-button-base">
                                Delete
                            </div>
                            <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                        </div>
                        <div class="input-box-container totalize">
                            <input required type="text" id="txt-panel-rating-screen-payments-grand-total"
                                name="txt-panel-rating-screen-payments-grand-total" title="Total Carrier Payments">
                            <label for="txt-panel-rating-screen-payments-grand-total">Total Carrier
                                Payments</label>
                        </div>
                    </div>
                    <div class="right-border"></div>
                </div>
            </div>
        </div>

        <div class="drag-handler"> </div>
        <div class="panel-not-focused"> </div>
        <div class="panel-selection-handler"> </div>
    </div>
</div>