<section class="task-bar" id="task-bar">
    <div class="logo-container">
        LOGO
    </div>

    <div class="search-container">
        <div class="mochi-input-decorator">
            <input type="search" id="txt-search-box" placeholder="just type">
        </div>
    </div>

    <div class="options-container">
        <label for="cbox-search" class="btn w-auto text-light" id="btn-search">
            <i class="fas fa-search mr-1" title="Search"></i>
            <input type="checkbox" id="cbox-search">
            <!-- Home -->
        </label>        

        <div class="btn w-auto text-light" id="btn-home">
            <i class="fas fa-home mr-1" title="Home"></i>
            <!-- Home -->
        </div>

        <!-- <div class="btn w-auto text-light" id="btn-email" title="Email"> -->
        <!-- <i class="fas fa-envelope mr-1"></i> -->
        <!-- Email -->
        <!-- </div> -->
        <div class="btn w-auto text-light" id="btn-dispatch" title="Dispatch">
            <i class="fas fa-truck-loading mr-1"></i>
            <!-- Dispatch -->
        </div>
        <div class="btn w-auto text-light" id="btn-customers" title="Customers">
            <i class="fas fa-users mr-1"></i>
            <!-- Customers -->
        </div>
        <div class="btn w-auto text-light" id="btn-carriers" title="Carriers">
            <i class="fas fa-people-carry mr-1"></i>
            <!-- Customers -->
        </div>
        <div class="btn w-auto text-light" id="btn-load-board" title="Load Board">
            <i class="fas fa-chart-area mr-1"></i>
            <!-- Customers -->
        </div>
        <div class="btn w-auto text-light" id="btn-invoice" title="Invoice">
            <i class="fas fa-file-invoice mr-1"></i>
            <!-- Customers -->
        </div>
        
        <div class="btn w-auto text-light" id="btn-switch-app" title="Switch App">
            <i class="fas fa-exchange-alt mr-1"></i>
            <!-- Switch App -->
        </div>
    </div>
</section>